/****************************/
/* IE6 FIXES                  */
/***************************/

.adtblocks .block {
display:inline;
}

.cornerstone {
font-size:1px;
line-height:1px;
}

#content, .sidebar {
overflow:hidden; /* prevent collapsing of structure when childs elements are too wide - relies on below style on .inner for desired effect */
overflow-y:visible;
}

#content .inner, .sidebar .inner {
position:relative; /* ie6 has a bug that allows relatively positioned elements to overflow while overflow:hidden is true. This combination facilitates "overhanging" without breaking the layout, identical to the behaviour of standards compliant browsers */
}

#main #content ul.primary {
float:none;
height:1.7em;
margin-bottom:3px;
}

#navbar ul li ul li {
zoom:1;
list-style-position:outside!important;
}

#content .inner .node div.links {
zoom:1;
}