 a.pdf , a[href$='.pdf'] { 
background:url(../images/icons/page_white_acrobat.gif) no-repeat center right;
padding-right:20px;
}

 a.doc
,a[href$='.doc'] { 
background:url(../images/icons/page_white_word.gif) no-repeat center right;
padding-right:20px;
}

 a.xls
,a[href$='.xls'] { 
background:url(../images/icons/page_white_excel.gif) no-repeat center right;
padding-right:20px;
}

 a.ppt
,a[href$='.ppt'] {
background:url(../images/icons/page_white_powerpoint.gif) no-repeat center right;
padding-right:20px;
}

 a.img
,a[href$='.gif']
,a[href$='.jpg']
,a[href$='.jpeg']
,a[href$='.png']
,a[href$='.bmp']
,a[href$='.tiff']
  {
background:url(../images/icons/picture.gif) no-repeat center right;
padding-right:20px;
}

 a.external
,a[href^='http://']
 {
background:url(../images/icons/world_link.gif) no-repeat center right;
padding-right:15px;
}
/* see page.tpl.php for unstyling internal links */

 a.mail
,a[href ^="mailto:"]
 {
background:url(../images/icons/email_edit.gif) no-repeat center right;
padding-right:20px;
}

 a.compress 
,a[href$='.zip']
,a[href$='.gz']
,a[href$='.tar']
,a[href$='.rar'] 
,a[href$='.tgz']
,a[href$='.arj']
{
background:url(../images/icons/compress.gif) no-repeat center right;
padding-right:20px;
}