 a.pdf  { 
background:url(../images/icons/page_white_acrobat.gif) no-repeat center right;
padding-right:20px;
}

 a.doc { 
background:url(../images/icons/page_white_word.gif) no-repeat center right;
padding-right:20px;
}

 a.xls { 
background:url(../images/icons/page_white_excel.gif) no-repeat center right;
padding-right:20px;
}

 a.ppt {
background:url(../images/icons/page_white_powerpoint.gif) no-repeat center right;
padding-right:20px;
}

 a.img
  {
background:url(../images/icons/picture.gif) no-repeat center right;
padding-right:20px;
}

 a.external
 {
background:url(../images/icons/world_link.gif) no-repeat center right;
padding-right:20px;
}
/* see page.tpl.php for unstyling internal links */

 a.mail
 {
background:url(../images/icons/email_edit.gif) no-repeat center right;
padding-right:20px;
}

 a.compress 
{
background:url(../images/icons/compress.gif) no-repeat center right;
padding-right:20px;
}