/****************************/
/* IE7&below FIXES      */
/***************************/

fieldset {
background-position:0 1.6em;
}

div.adtblocks {
margin-right:-100px!important; /* Create an invisible space (buffer) to allow overflow without collapsing */
padding-right:100px!important;
}

#main {
margin-right:-100px!important; /* Create an invisible space (buffer) to allow overflow without collapsing */
padding-right:100px!important;
}

input.form-submit {
overflow:visible; /* Needed to make ie respect padding modifications of submit buttons */
}

#navbar { /* stacking context bug fix */
z-index:20;
}

.adtblocks div
,.comment {
zoom:1;
}

#footer {
height:1%;
}