/** ----------------------------------------------------
STYLESHEET FOR BASETHEME BY WWW.ALLDRUPALTHEMES.COM
Color Module: Don't touch

Author: Jurriaan Roelofs
Website: http://www.clearwind.biz
--------------------------------------------------------
SITE COLORS:
Primary color: #0077C0
Secondary color: #81CEFF
Tertiary color: #00598E
Text color: #222222
--------------------------------------------------------
TABLE OF CONTENTS:
1. Reset Browser Styles
2. Reset Drupal Styles
3. Typography
4. Layout
5. Decoration per Region
6. Decoration per Node Type
7. Forms
8. Drupal Elements
9. Drupal Modules
10. Misc (skip to content, clearfix, etc.)
----------------------------------------------------- */

/**
*  [ 1 ] RESET BROWSER STYLES (BASED ON ERIC MEYERS RESET RELOADED)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus {
outline: 0;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}
a {
color:#00598E;
}
a:hover
,a:focus {
text-decoration:none;
}

/**
*  [ 2 ] RESET DRUPAL STYLES
*/

ul.menu li.leaf,
ul.menu li.expanded,
ul.menu li.collapsed {
list-style-image:none;
}
.block ul {padding:0;}
ul.menu li {margin-left:0;}
ul.links {margin-left:0;padding-left:0;}

/**
*  [ 3 ] TYPOGRAPHY
*/

html {font-size:100%;}

body {
font:90%/130% arial,tahoma,verdana,sans;
color:#222;
line-height:1.4em;
}

#header h1#sitename {
font-size:4em;
line-height:1em;
font-weight:bold;
}

#navbar {
font-size:1.2em;
font-weight:bold;
}

#navbar a {
text-decoration:none;
}

#navbar a:hover
,#navbar a:focus {
text-decoration:underline;
}

#navbar ul ul {
font-weight:normal;
}

#content {
word-wrap:break-word; /*** CSS3 property / former microsoft proprietary code so works in older ie ***/
}

#footer
,ul.secondary-links {
font-size:80%;
}

.breadcrumb {
font-size:75%;
font-weight:bold;
line-height:1em;
}

div.comment {
font-size:80%;
}

/*** HEADINGS ***/

h1#content-title {
clear:both;
}
h1 {
font-size:1.8em;
line-height:1.4em;
font-weight:normal;
}
h2,.mission {
font-size:1.6em;
}
h3 {
font-size:1.4em;
}
h4 {
font-size:1.3em;
}
h5,#content div.field-label {
font-size:1.2em;
text-transform:uppercase;
}
h6 {
font-size:1.1em;
text-transform:lowercase;
}

legend {
font-size:120%;
text-transform:capitalize;
}

#header .slogan {
font-weight:bold;
font-size:1.8em;
line-height:1.2em;
font-style:italic;
}

h1.nodetitle {line-height:1em}

.nodetitle a {
text-decoration:none;
}

.nodetitle a:hover
,.nodetitle a:focus {
color:#222222;
}

/*** LIST STYLING ***/

body #main ul li { /* Override all drupal styles with increased selector specifity */
list-style: inside disc;
margin:0;
}
body #main ol li {
list-style: inside decimal;
margin:0;
}
body #main ul
,body #main ol {
margin:0.5em 0 0.5em 10px;
padding:0;
}
#main .sidebar ul {
margin-left:5px;
}
#main ul.inline {
margin:0;
padding:0;
}

#main li.active a
,#main  a.active {
font-weight:bold;
}

body div.item-list ul li { /* cancel drupal styles */

}

/**
*  [ 4 ] LAYOUT
*/

body,html {
width:100%;
}

body {
text-align:center;
position:relative;
padding:60px 0;
}

#container {
margin:0 auto;
text-align:left;
width:820px;
min-width:680px;
max-width:1300px;
}

#header {
width:100%;
position:relative;
float:left;
}

#header .inner {
padding:40px;
}

#main {
clear:both;
float:left;
width:100%;
}

#navbar {
width:100%;
float:left;
}

div#content,div.sidebar {
margin:0 0;
}

#content {
width:60%;
float:left;
}

#content .inner
,#content .inner table {
position:relative;
z-index:15; /*** content is placed higher than sidebars so that big (admin) tables will not "mix" with sidebar content. Can be removed if necessary ***/
background:#fff; /*** do not remove background but rather replace it with another color/image(or white) to ensure no regions blend with main content ***/
}

.sidebar {
float:left;
width:20%;
word-wrap:break-word; /*** CSS3 property / former microsoft proprietary code so works in older ie ***/
}

.sidebar .inner {
position:relative;
}

.sidebar.sleft .inner {
margin:40px 0 40px 40px;
}
.sidebar.sright .inner {
margin:40px 40px 40px 0;
}

.adtblocks img {
margin:4px;
}

.adtblocks {
width:100%;
float:left;
}

#footer {
clear:both;
}

/**
*  [ 5 ] DECORATION PER REGION
*/

/*** VIEWPORT & CONTAINER ***/

body {
background:#0077C0;
}

#container {
background:#fff;
}

/*** HEADER ***/

#header h1#sitename a {
text-decoration:none;
}
#header h1#sitename a:hover
,#header h1#sitename a:focus {
color:#999;
}

#header img.logo {
float:left;
margin-right:40px;
}

/* Secondary Menu */

#header ul.secondary-links {
position:absolute;
top:40px;
right:40px;
background:#eee;
padding:2px 6px;
}

/*** NAVBAR ***/

#navbar {
position:relative;
background:#eee;
}

body #navbar ul {
margin:0;
padding:0;
padding:0 40px;
line-height:2em;
}

body #navbar ul li {
padding:0;
margin:0 10px;
list-style:none;
list-style-type:none;
float:left;
}

#navbar ul li a {
padding:5px 10px;
display:block;
}

#navbar ul li.expanded {
background:url(../../../../../misc/menu-expanded.png) no-repeat right center;
}

/* Dropdown */

#navbar ul ul {
position:absolute;
z-index:20; /* Cover the Cufon canvas renders */
left:-99999em;
background:#eee;
top:2.5em;
width:10em;
padding:0 0 8px 0;
clear:both;
border:1px solid #ccc;
border-width:0 1px 1px 1px;
/* undo first-level styling */
margin:0;
line-height:1.4em;
}

#navbar ul ul li {
clear:both;
padding:0 0.25em;
/* undo first-level styling */
float:none;
margin:0;
}

#navbar ul ul ul {
margin:-1.95em 0 0 9.75em;
top:auto;
border-top-width:1px;
}

#navbar li:hover ul ul
,#navbar li:hover ul ul ul
,#navbar li:hover ul ul ul ul
,#navbar li.over ul ul
,#navbar li.over ul ul ul
,#navbar li.over ul ul ul ul {
left: -999em;
}

#navbar li:hover ul
,#navbar li li:hover ul
,#navbar li li li:hover ul
,#navbar li li li li:hover ul
,#navbar li.over ul
,#navbar li li.over ul
,#navbar li li li.over ul
,#navbar li li li li.over ul {
left: auto;
}

#navbar ul ul li.expanded {
background-position:90% center;
background-image:url(../../../../../misc/menu-collapsed.png);
}

/*** SIDEBAR ***/

.sidebar .block {
margin-bottom:1em;
background:#eee;
}

.sidebar div.block.last {
margin-bottom:0;
}

.sidebar .block-inner {
padding:13px;
}

/**** ADT BLOCKS ***/

.adtblocks .block {
float:left;
}

.adtblocks .block .block-inner {
margin-left:40px;
background:#81CEFF;
padding:14px;
}

.adtblocks div.block.last .block-inner {
margin-right:40px;
}

.preblocks {
padding-top:40px;
}

.postblocks {
padding-bottom:40px;
}

/*** MAIN ***/

#content .inner {
margin:40px;
}

#content .node {
padding-bottom:20px;
width:100%; /* very important for internet exploder because of rendering order */
}

/*** FOOTER ***/

#footer {
padding:0 40px;
clear:both;
background:#eee;
line-height:3em;
}

#footer p#footermessage {
float:left;
}

#footer p.adt {
float:right;
color:#666;
font-size:90%;
opacity:0.7;
}
#footer p.adt a {
color:#666;
}

/**
*  [ 6 ] DECORATION PER NODE TYPE
*/

/*** ALL NODES ***/

.title {
margin-bottom:0.5em;
}

.picture {
border: 1px solid #999;
float: right;
margin: 0.5em;
}
.picture img {
display:block;
}

/*** NODE & COMMENT LINKS ***/

.node div.links,.comment div.links {
font-size:90%;
line-height:1em;
padding:10px;
margin-top:20px;
clear:both;
}

.node div.links {
border-bottom:5px solid #eee;
}

/*** TAXONOMY TERMS ***/

#main div.taxonomy {
font-size:90%;
}

#main div.taxonomy ul {
margin-left:0;
padding-left:0;
}

#main .taxonomy ul li {
list-style:none;
list-style-type:none;
}

#main .taxonomy ul li.vocab {
font-weight:bold;
}

#main .taxonomy li.vocab ul {
display:inline;
font-weight:normal;
}

#main .taxonomy li.vocab-term {
display:inline;
}

/**
*  [ 7 ] FORMS
*/

input.form-submit {
padding:1px 5px;
margin:0 5px 1em 0;
font-size:90%;
border:1px solid #222;
}

input.form-submit:hover {
cursor:pointer;
}

div.grippie
,input.form-text
,input.form-upload
,input.form-file
,textarea {
max-width:95%;
font-family:inherit;
}

.form-item input.error, .form-item textarea.error {
border: 2px solid #c52020;
}

body #main #autocomplete ul {
margin:0;
padding:0;
}
body #main #autocomplete ul li {
margin:0;
padding:1px;
list-style:none;
list-style-type:none;
border-bottom:1px dashed #ddd;
}

#content label {

}

fieldset {
border:1px solid #ccc;
padding:10px;
background:url(../images/v0x-gradient-ultralight.gif) repeat-x top left;
}

html.js #main fieldset.collapsed { /* overwriting drupal core styles */
height:2em;
}

fieldset fieldset {
background:none;
}

legend {
padding:5px;
display:block;
}

#content form legend a {
padding-left:20px;
padding-right:5px;
text-decoration:none;
}

/**
*  [ 8 ] DRUPAL ELEMENTS
*/

/*** LOGIN BLOCK ***/

#block-user-0 #user-login-form {
text-align:left;
}

#main #block-user-0 div.item-list ul {
margin:0;
padding:0;
}
#main #block-user-0 div.item-list ul li {
margin:0;
padding:0;
list-style:none;
list-style-type:none;
}

/*** COMMENTS ***/

h3.commentheader { /* You can switch this header off in custom theme settings */
margin-bottom:0.5em;
}

h3.commentheader a {
text-decoration:none;
}

div.comment {
margin-bottom:20px;
padding:10px 10px 0 10px;
}

#comments .odd {
background:#eee;
}
#comments .even {
background:#f6f6f6;
}

.comment ul.links {
text-align:right;
}

/*** PAGER ***/

#main .pager {
text-align: center;
margin:30px 0 1em 0;
padding:0;
line-height:2em;
background:#eee;
font-size:1.2em;
}

#main ul.pager li {
margin:0 2px;
padding:0;
color:#ccc;
}

#main ul.pager li a {
padding:5px;
text-decoration:none;
color:#222;
}

#main ul.pager li a:hover
,#main ul.pager li a:focus {
color:#999;
}

/*** SUBMITTED ***/

.submitted {font-size:80%;}

/*** MISSION ***/

.mission {
margin-bottom:1em;
}

/*** BREADCRUMBS ***/

.breadcrumb {

}

/*** ADMIN OVERVIEW ***/

div.admin .left {
margin-left:0;
}
div.admin .right {
margin-right:0;
}

/*** BLOCK ADMIN LINKS ***/

div.block div.edit a {
color:#fff;
background:#666;
padding:2px 5px;
font-size:70%;
opacity:0.7;
text-decoration:none;
}

div.block div.edit a:hover
,div.block div.edit a:focus {
text-decoration:underline;
}

/*** TABLES ***/

td, th {
padding: 0.3em 0.4em;
}

thead th {
border-bottom: 2px solid #222;
color: #494949;
font-weight: bold;
}

th a:link, th a:visited {
color: #6f9dbd;
}

tr.even, tr.odd, tbody th {
border: solid #DDD;
border-width: 1px 0;
}

tr.odd, tr.info {
background-color: #eee;
}

tr.even {
background-color: #fff;
}

tr.odd td.active {
background-color: #DDD;
}

tr.even td.active {
background-color: #ccc;
}

td.region, td.module, td.container {
border-top: 1.8em solid #fff;
border-bottom: 2px solid #DDD;
background-color: #ddd;
color: #455067;
font-weight: bold;
}

/*** PRIMARY TABS ***/

#content ul.primary {
border:solid #DDD;
border-width:0 0 1px 0;
font-size:80%;
line-height:1.7em;
width:95%;
padding:0 0 0 5%;
float:left;
margin:1em 0 1em 0;
}

body #main ul.primary li {
border:solid #DDD;
border-width:1px 1px 0 1px ;
background: url(../images/x-gradient-ultralight.gif) repeat-x 0 0px;
display:block;
float:left;
padding:0;
margin:0 3px 0 0;
}

ul.primary li a {
border:none;
display:block;
float:left;
padding:2px 1em 1px 1em;
margin:0;
background:none;
color:#222;
}

ul.primary li.active {
border-top-color:#DDD;
}

ul.primary li.active a {
border:none;
float:left;
background:#fff url(../images/x-gradient-ultralight.gif) repeat-x 0 -100px;
font-weight:bold;
}

ul.primary li a:hover,
ul.primary li a:focus {
border-top:2px solid #DDD;
padding-top:0;
}

ul.primary li.active a:hover,
ul.primary li.active a:focus {
border-top-color:#DDD;
}

ul.primary li.inactive a:hover,
ul.primary li.inactive a:focus {
background:#fff url(../images/x-gradient-ultralight.gif) repeat-x 0 -110px;
}


/*** SECONDARY TABS ***/

#content ul.secondary {
font-size:80%;
margin: 0;
padding: 0 0 0 5px;
border-bottom: 1px solid #c0c0c0;
list-style: none;
white-space: nowrap;
}

ul.secondary li {
float: left;
margin: 0 5px 0 0;
padding: 5px 0;
border-right: none;
}

ul.secondary a {
display: block;
margin: 0;
padding: 0;
border: 1px solid #ccc;
background: url(../images/x-gradient-ultralight.gif) repeat-x 0 0;
}

ul.secondary a .tab {
display: block;
padding: 3px 8px;
line-height: 1.4em;
}

ul.secondary a.active {
font-weight:bold;
border: 1px solid #555;
}

ul.secondary a:hover,
ul.secondary a:focus {
background: url(../images/x-gradient-ultralight.gif) repeat-x 0 -20px;
border-color:#666;
}

.messages {
background-color: #fff;
clear:both;
border: 1px solid #b8d3e5;
padding:0.5em;
margin-bottom:1em;
font-weight:bold;
font-size:90%;
}

.preview {
background-color: #fcfce8;
border: 1px solid #e5e58f;
}

div.status {
color: #3a3;
border-color: #c7f2c8;
}

div.error {
color: #c52020;
}

div.warning {
border-color:#ccc;
}

/*** BLOCK REGION LABEL COLOR ***/

.block-region {
color:#555;
}

/**
*  [ 9 ] DRUPAL MODULES
*/

/*** MOD POLL ***/

.poll .bar {
background:#f6f6f6;
height:0.8em
}

.poll .bar .foreground {
background:#0077C0;
height:0.8em
}

.poll .text {
font-weight:bold;
}

.poll .percent {
font-weight:bold;
line-height:1.2em;
}

.poll .total {
font-weight:bold;
line-height:1em;
}

div.poll { /* clear the user picture */
clear:both;
}

/**
 * MOD DBLOG
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/*** STATUS REPORT ***/
table.system-status-report tr.error, table.system-status-report tr.error th {
background-color: #fcc;
border-color: #ebb;
color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
background-color: #ffd;
border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
background-color: #dfd;
border-color: #beb;
}

/*** MOD FORUMS ***/

div#forum table {
width:100%;
}

/*** MOD COLOR ***/
fieldset#color_scheme_form {
min-width:500px;
min-height:240px;
}

/*** MOD ADMIN MENU ***/

body.admin-menu {
margin-top:0!important;
}
#admin-menu {
position:fixed;
}

/**
*  [ 10 ] MISC
*/

/*** SKIP TO CONTENT ***/

p#skipcontent a {
position:absolute;
top:8em;
left:-99999em;
padding:10px 30px;
background:#ccc;
border:1px solid;
z-index:1;
}

p#skipcontent a:focus {
left:45%;
}

p#skipcontent a:hover {
background:#eee;
}

div.block-region {
clear:both;
}

.block .content .edit {
clear:both
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.cornerstone {
position:absolute;
}

form fieldset img {
float:left;
clear:both;
padding:2px;
}

.hide, .close {display:none;}